@font-face {
    font-family: 'DM Serif';
    src: url('../../../../assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Fredoka';
    src: url('../../../../assets/fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../../../../assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}